* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  padding-top: 5vh;
  
  margin: 0 auto;
  
  
}


.App-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  text-align: center;
  color: white;
}

.App-form {
  padding: 3vh 1vw;
  margin: 0 auto;
  width: 50vw;
  height: 50vh;
  border: 1px solid white;
  border-radius: 4px;
}

#messageText {
  height: 150px;
  
}

#messageTextError {
  border: 3px solid red;
  height: 150px;
  
}
